.ContextMenu {
  position: relative;
  z-index: 2;
  transition: transform 0.5s ease-out;
  cursor: pointer;
}

.ContextMenu:hover {
  transform: translateY(-50%);
}

.context-content {
  background-color: #555;
  padding: 2rem;
}

.context-tab {
  text-align: center;
  width: 30%;
  margin: 0 auto;
  border-radius: 0 0 45px 45px;
  background-color: #555;
}
