/* .loadout-space img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
} */

/* .loadout-space img {
  position: relative;
  cursor: pointer;
  pointer-events: none;
}

.loadout-space img:hover {
  z-index: 2;
} */

div.newCard {
  height: 100%;
  background-size: contain;
  border-radius: 10%;
}

div.card {
  width: 100%;
  padding-top: 100%;
}

.card.loading {
  background-color: #eee;
  border-radius: 10%;
}
