.TermsList {
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 30px 30px 30px 30px;
  z-index: 1;
}

.TermsList ul {
  list-style-type: none;
  padding-bottom: 1rem;
}

.TermsList #term-definition {
  position: absolute;
  background-color: #444;
  z-index: 3;
  overflow: hidden;
}

.TermsList ul,
.TermsList #term-definition {
  padding-top: 95%;
  border-radius: 30px 30px 30px 30px;
}

.TermsList ul svg {
  position: relative;
  float: right;
}

.TermsList #term-definition p {
  overflow: auto;
  max-height: 10rem;
  padding: 1rem;
}

.TermsList #term-definition svg {
  position: relative;
  left: 0;
}

.TermsList h2 {
  text-align: center;
}

.TermsList hr {
  border: 0;
  height: 1px;
  margin-top: 0.5rem;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

.TermsList li {
  transition: background-color 1s;
}

.TermsList li:hover,
.TermsList li:active {
  background-color: #333;
}

.TermsList .term {
  padding: 0.5rem 1rem;
}

.TermsList #return {
  text-align: center;
  font-size: 2rem;
  border-radius: 0 0 30px 30px;
  background-color: rgba(50, 50, 50, 0.5);
  transition: background-color 0.5s;
}

.TermsList #return:hover {
  background-color: rgba(100, 100, 100, 0.5);
}

.TermsList #return:active {
  background-color: rgba(150, 150, 150, 0.5);
}

@media only screen and (max-height: 660px) and (orientation: landscape) {
  .TermsList {
    width: 45%;
    left: unset;
    padding-top: 0;
  }

  .TermsList #term-definition p {
    max-height: unset;
  }

  .TermsList ul,
  .TermsList #term-definition {
    padding-top: 5%;
  }
}
