#loadout-grid {
  display: grid;
  gap: 1.5%;
  grid-template: repeat(3, minmax(100px, 1fr)) / repeat(3, minmax(100px, 1fr));
}

.loadout-space {
  position: relative;
  background-color: #333;
  border-radius: 10%;
}
