#loadout-grid {
  position: relative;
  display: grid;
  gap: 1vmin;
  grid-template: repeat(3, minmax(50px, 1fr)) / repeat(3, minmax(50px, 1fr));
  /* top: 50%; */
  /* transform: translate(0, -50%); */
  margin: 0 auto;
  padding: 1rem 0;
  width: 95vw;
  max-width: 30rem;
}

@media only screen and (orientation: landscape) {
  #loadout-grid {
    width: 70vh;
    max-width: 62.5rem;
  }
}

.loadout-space {
  position: relative;
  background-color: #333;
  border-radius: 10%;
}
