#Overlay {
  z-index: 4;
}

#overlay-bg {
  opacity: 0.9;
  background-color: #222;
}

#Overlay,
#overlay-bg {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
}

#overlay-content {
  position: relative;
  margin: 0 auto;
  top: 0;
  z-index: 5;
  width: max-content;
}

#Overlay #card-preview {
  position: relative;
  margin: 0 auto;
  max-width: 25rem;
}

#Overlay #flip-card {
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  z-index: 2;
}

#Overlay .card-front,
#Overlay .card-back {
  pointer-events: none;
  backface-visibility: hidden;
  padding-top: 100%;
}

#Overlay .is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

#Overlay .card-back {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transform: rotateY(180deg);
}

@media only screen and (max-height: 660px) and (orientation: landscape) {
  #Overlay .TermsList + #card-preview {
    margin-left: 0;
  }

  #Overlay #card-preview {
    display: inline-block;
    width: 100%;
    max-width: unset;
    margin-left: 2rem;
  }

  #Overlay .TermsList {
    margin-right: 3rem;
  }

  #Overlay #flip-card {
    width: 45%;
  }
}
