#Overlay {
  z-index: 2;
  opacity: 1;
}

#overlayBg {
  opacity: 0.9;
  background-color: #222;
}

#Overlay,
#overlayBg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.4s;
}

#Overlay.hidden,
#Overlay.hidden #overlayBg {
  pointer-events: none;
  opacity: 0;
}

#overlayContent {
  max-width: 30rem;
  margin: 0 auto;
}

#Overlay .card {
  display: block;
  padding-top: 15%;
  width: 70%;
  transition: padding-top 0.5s;
}

#Overlay.hidden .card {
  padding-top: 0%;
}

#Overlay .card {
  position: relative;
  z-index: 4;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#Overlay.hidden .TermsList ul {
  padding-top: 2%;
}

#Overlay .header {
  font-weight: bold;
}
