.App {
  height: 100vh;
  width: 100vw;
}

#section-grid {
  display: grid;
  grid-template: 2fr minmax(50px, 100px) / auto;
  grid-template-areas:
    'Body'
    'Nav';
  height: 100%;
}

@media only screen and (orientation: landscape) {
  #section-grid {
    grid-template: repeat(4, 1fr) / repeat(5, 1fr);
    grid-template-areas:
      'Nav Body Body Body Body'
      'Nav Body Body Body Body'
      'Nav Body Body Body Body'
      'Nav Body Body Body Body';
  }
}

#loadout-view {
  grid-area: Body;
}

#locations-section {
  position: absolute;
  z-index: 3;
  background-color: #331818;
  height: 25vh;
  top: 0;
  transition: top 0.3s ease-out;
}

#locations-section.hidden {
  top: -100%;
}

#grid-section {
  position: relative;
  z-index: 2;
}

#nav-section {
  grid-area: Nav;
  z-index: 1;
}
