.Nav {
  position: relative;
  height: 100%;
  background-color: #111;
}

.Nav ul {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.Nav li {
  display: inline-block;
  text-align: center;
  width: 33%;
  color: #c1c0bb;
}

@media only screen and (orientation: landscape) {
  .Nav {
    background: linear-gradient(
      270deg,
      rgba(34, 34, 34, 1) 5%,
      rgba(17, 17, 17, 1) 50%
    );
  }

  .Nav ul {
    height: 100%;
  }

  .Nav li {
    display: block;
    text-align: left;
    padding: 1rem;
  }
}
